.container_barmen {
  max-width: 1400px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #222;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1;
  overflow: auto;
}

.form {
  padding: 40px;
  border-right: 1px solid #404040;
}

.map {
  padding: 40px;
  margin: 0 auto;
}
