.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  border-bottom: 1px solid #404040;

  .logo {
    width: 112px;
    height: 33px;
    margin-right: 20px;
  }
}
